/* CSS RESET */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
:root {
  --bs-blue: #2500F9;
  --bs-indigo: #727cf5;
  --bs-purple: #ad45f6;
  --bs-pink: #f6458e;
  --bs-red: #F55767;
  --bs-orange: #f6d845;
  --bs-yellow: #FCAE61;
  --bs-green: #40975F;
  --bs-teal: #299EF3;
  --bs-cyan: #38B0F5;
  --bs-white: #fff;
  --bs-gray: #C3C1C8;
  --bs-gray-dark: #616368;
  --bs-primary: #2500F9;
  --bs-secondary: #4F5665;
  --bs-success: #40975F;
  --bs-info: #ad45f6;
  --bs-warning: #FCAE61;
  --bs-danger: #F55767;
  --bs-light: #E2EAED;
  --bs-dark: #1F1534;
  --bs-font-sans-serif: "Poppins", "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --bs-font-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}


/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact{
  background: #ffff;
}
.contact .info-item {
  background: #f4f4f4;
  padding: 30px;
  height: 100%;
}

.contact .info-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 56px; */
  /* height: 56px; */
  font-size: 24px;
  line-height: 0;
  color: #002147;
  margin-right: 15px;
}

.contact .info-item h3 {
  font-size: 20px;
  color: #31404b;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.contact .info-item p {
  padding: 0;
  margin: 0;
  color: #31404b;
  line-height: 24px;
  font-size: 14px;
}

.contact .info-item .social-links a {
  font-size: 24px;
  display: inline-block;
  color: rgba(55, 55, 63, 0.7);
  line-height: 1;
  margin: 4px 6px 0 0;
  transition: 0.3s;
}

.contact .info-item .social-links a:hover {
  color: var(--color-primary);
}

.contact .php-email-form {
  width: 100%;
  margin-top: 30px;
  background: transparent;
  /* background: #fff; */
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.08); */
}

.contact .php-email-form .form-group {
  padding-bottom: 20px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #df1529;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #059652;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #059652;
  border-top-color: #fff;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius:8px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: var(--color-primary);
}

.contact .php-email-form input {
  height: 48px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background:#2e719f;
  border: 0;
  padding: 12px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 25px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #1f00d4;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  /* background-color: #1f1f24; */
  /* background-color: #4F5665; */
  background-color: #f6f7fb;
  padding-top: 25px;
  /* color: rgba(255, 255, 255, 0.7); */
}

.footer .icon {
  margin-right: 15px;
  font-size: 24px;
  line-height: 0;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 22px;
  text-transform: uppercase;
  color: #fff;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  /* color: rgba(255, 255, 255, 0.6); */
  color: #697aab;
  font-weight: 300;
  transition: 0.3s;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
  text-decoration: none;
}

.footer .footer-links ul a:hover {
  color: #2f3a5a;
  text-decoration: none;
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer .copyright {
  text-align: center;
  padding-top: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}

.footer_address_details{
  margin-top: 1.5rem;
  margin-left: -1rem;
}
.footer_address_details ul li{
  list-style: none;
  font-size: 14px;
  color: #697aab;
  font-weight: 400;
  line-height: 30px;
  background: none;
}
.footer_address_details, ul li a{
  font-size: 13px;
}
.footer-links ul li{
  list-style: none;
  /* margin-left: -31px; */
}
.copyright p{
  color:#697aab;
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}
.copyright p a{
  color:#2500F9;
  text-decoration: none;
}
.copyright p a:hover{
  color:#3c2f89;
  text-decoration: none;
}
.social_links{
  display: flex;
  gap: 1.2rem;
}
.social_links li{
  color: #2500F9;
  background-color: rgba(186, 186, 186,0.3);
}
.social_links li a{
  color: #403193;
  border-radius: 50px;
}
.social_links li a:hover{
  color: #2500F9;
  transition: 0.3s ease;
  border-radius: 50px;
}
/* FOOTER SECTION ENDS */

/* DROPDOWN SECTION STARTS */

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 28px;
  /* top: calc(100% + 30px); */
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  list-style: none;
  width: 100px;
  min-width: 440px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.65);
  text-transform: none;
  font-weight: 400;
  text-decoration: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: var(--color-primary);
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}


@media (min-width: 1280px) and (max-width: 1366px) {
.navbar .dropdown .dropdown ul {
  left: -90%;
}

.navbar .dropdown .dropdown:hover>ul {
  left: -100%;
}
}

/* DROPDOWN SECTION ENDS */